<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p>Phone: <%= phone %></p>
    <a href="/">Wróć do strony głównej</a>
  </body>
</html>
